$primary-color: #6C98C6;
$Second-color: #165ECC;
$third-color: white;
$fourth-color: black;
$fifth-color: #165ECC;
$sixth-color: #323232;
$seventh-color: #2BC456;
$Main_font:'Open Sans',
sans-serif;
$Second_font:'Nunito',
sans-serif;